.card {
    width: 100%;
    max-width: 240px;
    height: 60px;
    background: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
    transition: 0.5s ease-in-out;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
  }
  
  
  
  .img {
    width: 20px;
    height: 50px;
    margin-left: 20px;
    margin-top: 20px;
   
  }
  
  .textBox {
    width: calc(100% - 90px);
    margin-left: 10px;
    color: black;
    font-family: 'Poppins' sans-serif;
  }
  
  .textContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left:20px;
  }
  
  .span {
    font-size: 10px;
  }
  
  .h1 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .p {
    font-size: 12px;
    font-weight: lighter;
     margin-left:20px;
     color:rgb(12, 12, 12);
  }
  
  @media screen and (max-width:1900px){
      .h1{
        font-size: 20px;
      }
      .card{
        max-width: 280px;
      }
      .p{
        font-size: 16px;
      }
  }